#form-bando {
    background-color: #FFEFD5;
}
#home-name {
    font-weight: 900;
}
.CodeMirror {
  height: auto;
  margin: 0 10px 30px 10px;
}
.styled-error { background-color: #ff1a1a; }
.styled-warning { background-color: #ffcc66;}
.link_line {color:#0000EE; text-decoration: underline; cursor: pointer;}
.link_lotto {color:#0000EE; text-decoration: underline; cursor: pointer;}
